*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html, body{
    width: 100%;
    height: 100%;
    position: relative;
}
.main{
    width: 100%;
    height: 100px;
}
.nav{
    height: 100px;
    width: 100%;
  /* background: red;*/
    border-bottom: 2px solid #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
}
.nav h2{
   font-size: 2vw;
   font-weight: 600;
   
}
.nav2{
    display: flex;
    gap:4vw;
    align-items: center;
    
}

.nav2 h4{
    font-size: 1.1vw;
    font-weight: bold;
}
.nav2 i{
    font-size: 1.2vw;
    font-weight: 800;
    display: none;
}
.nav2 button{
    padding: 0.7vw 1.3vw;
    font-size: 1vw;
    font-weight: 700;
    background: rgb(66, 101, 120);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.content{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
   position: relative;
}
.left{
    width: 55%;
    padding-top: 6vw;
     padding: 7vw 4vw;
}
.left h1{
    font-size: 3vw;
    line-height: 4vw;
}
.left h1 span{
    color: lightseagreen;
}
.left button{
    padding: 1.1vw 1.3vw;
    font-size: 1.5vw;
    font-weight: 700;
    background: lightseagreen;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.left p{
    margin-top: 1.5vw;
    margin-bottom: 4vw;
    font-size: 1.5vw;
    font-weight: 600;
    color: #666;
    width: 90%;
}
.right{
    width: 45%;
}
.right img{
    width: 100%;
}
.container{
    max-width: 73vw;
    margin: auto; 
}
.box{
    padding: 23px;
    border-radius: 12px;
     text-align: center;
    background-color: #dadada;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box-lang{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    padding-bottom: 23px;
}
.btn{
    margin: 6px 0 ;
    padding: 0.7vw 1.3vw;
    font-size: 1vw;
    font-weight: 700;
    background:  rgb(66, 101, 120);
   border: transparent;
    border-radius: 5px;
    color: lightseagreen ;
    cursor: pointer;  
}
.btn:hover{
   border: black solid 1px;
}
.btn:active{
    color: #dadada;
}


.grid{
    gap:12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.foot{
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.btm{
    margin: 6px 0 ;
    padding: 0.7vw 1.3vw;
    font-size: 1vw;
    font-weight: 700;
    background: white;
    border: none;
    border-radius: 5px;
    color: lightseagreen ;
    cursor: pointer; 
}
.btm:active{
    color: rgb(66, 101, 120);
}    
.back{
    width: 100%;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:  rgb(66, 101, 120);
    color: #dadada;
    font-size: 1vw
}
.footer{
    padding: 2vw 4vw;
    display: flex;
    
     background:  rgb(86, 132, 157);
     font-size: medium;
     font-weight: 600;
     line-height: 2vw;
     font-family: Arial, Helvetica, sans-serif;
}
.here{
    width: 40%;
}
.there{  
    width: 60%;    
}   



@media (max-width:314px) {
    .nav{
        background-color: aqua;
        color: white;
         padding: 0 6vw;
         height: 60px;
    }
    .nav h2{
        font-size: 5.1vw;
    }
     .nav h4{
        font-size: 5vw;
        display: none;
    }
    .nav button{
        display: none;
    }
    .nav2 i{
        display: block;
        font-size: 5vw;
    }
    .content{
        height: calc(100% - 120px);
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 40%;
    }
     .right{
        padding-top: 2vw;
        padding-bottom: 2vw;
        width: 100%;
        height: 40%;
    }
    .right img{
    width: 100%;
    }
    .left h1{
        font-size: 10vw;
        line-height: 11vw;
    }
    .left p{
        font-size: 2vw;
    }

}
 @media (max-width:539px) {
        
    .content{
        height: calc(100% - 120px);
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 30%
    }
     .right{
        padding-top: 2vw;
        padding-bottom: 2vw;
        width: 100%;
        height: 40%;
    }
     .right img{
    width: 70%;
    }
     .footer{
    
     font-weight: 300;
     line-height: 3vw;
     }

 }
 @media (max-width:600px){
    .grid{
   grid-template-columns: 1fr  ;
    }
    .footer{
     flex-wrap: wrap;
     flex-direction: column;
     font-size: large;
     font-weight: 300;
     line-height: 6vw;
   
    }
    .here{
     padding-left: 3VW;
    }
    .there{  
     padding-left: 3VW;    
    }  
    
}